# Local point-cloud maps; download and copy these files separately.
/src/pb2025_sentry_nav/pb2025_nav_bringup/pcd/simulation/rmuc_2024.pcd
/src/pb2025_sentry_nav/pb2025_nav_bringup/pcd/simulation/rmuc_2025.pcd
/src/pb2025_sentry_nav/pb2025_nav_bringup/pcd/simulation/rmul_2024.pcd
/src/pb2025_sentry_nav/pb2025_nav_bringup/pcd/simulation/rmul_2025.pcd
